.drawer.mdl-layout__drawer.mdl-color--white
  h1.logo.mdl-layout__title 
    span.logo-letter N
  nav.navigation.mdl-navigation
    a.mdl-navigation__link.navigation__link.navigation__link--with-dropmenu(href='#', style='z-index: 3') 
      span Студия
      .mdl-layout-spacer
      button#drawer-studio.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
        i.material-icons(role='presentation') arrow_drop_down
      ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='drawer-studio')
        li.mdl-navigation__link.navigation__link Кейсы
        li.mdl-navigation__link.navigation__link Блог
        li.mdl-navigation__link.navigation__link Магазин

    a.mdl-navigation__link.navigation__link(href='#') Проекты
    a.mdl-navigation__link.navigation__link.navigation__link--with-dropmenu(href='#') 
      span Услуги
      .mdl-layout-spacer
      button#drawer-services.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--icon
        i.material-icons(role='presentation') arrow_drop_down
      ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for='drawer-services')
        li.mdl-navigation__link.navigation__link Брендинг
        li.mdl-navigation__link.navigation__link Веб-разработка
        li.mdl-navigation__link.navigation__link Интернет-реклама


    a.mdl-navigation__link.navigation__link(href='#') Контакты
    //- a.mdl-navigation__link(href='#') Блог
    //- a.mdl-navigation__link(href='#') Магазин

    .mdl-layout-spacer
    p.navigation-paragraph.text--center.mdl-typography--title 8 800 500-36-69
    a.mdl-button.mdl-js-button.mdl-js-ripple-effect(href='#') info@nrg.life