//- Settings
//- Main
- var SiteName = 'Nitro'
- var SiteURL = 'https://github.com/skrzyszewski/nitro'

//- Metadata
- var PageTitle = 'Nitro'
- var PageDescription = 'Supercharged static site generator'
- var PageImage = '' // Recommended 1200 x 630
- var PagePath = '/'

//- Typography
- var Typekit = ''
- var GoogleFonts = ''

//- Utilities
- var Modernizr = true
- var noJS = 'no-js' // If Modernizr is set to false, comment out this line

//- Analytics
- var GoogleAnalytics = ''

//- Layout
- var Header = true
- var Footer = true

//- Additional Metadata
//- Mobile Web App
- var App = true
- var AppCapable = 'yes'
- var AppBar = 'default'
- var ThemeColor = '#ffffff'
- var TileColor = '#ffffff'

//- Twitter Card
- var TwitterCard = true
- var TwitterHandle = '@skrzyszewski'

//- Open Graph
- var OpenGraph = true

//- JSON for Linked Data
- var Schema_Organization = true
- var OrganizationName = 'Nitro'
- var OrganizationLogo = ''
- var OrganizationFacebook = ''
- var OrganizationGithub = 'https://github.com/skrzyszewski/nitro'
- var OrganizationTwitter = ''

- var Schema_WebSite = true
- var AuthorName = 'Maciej Skrzyszewski'
- var AuthorURL = 'http://skrzyszewski.com'

- var Schema_WebPage = true