extends layouts/application

append config
  - var PageTitle = 'Nitro'
  - var PageDescription = 'Supercharged static site generator'
  - var PagePath = '/'
  - var PageImage = ''  // Recommended 1200 x 630

block content
  h1 Page #2!
  p Paragraph